<!-- views/home.ejs -->
<%- include('partials/head') %>

<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div class="jumbotron">
            <h1>All about your Pals!</h1>
            <p class="lead">Check out your pals' posts.</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>